@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Dongle:wght@300;400;700&display=swap");

$mainFont: "Dongle", sans-serif;

$purple: #542b62;
$orange: #f0845c;
$blue: #a1cfd3;
$grey: #f3f3f3;
$black: #333234;
$beige: #fef3ee;
